$body-bg: #0D1821;
$body-color: #D8DCFF;
$border-color: #D8DCFF;
$primary: #725AC1;
$input-group-addon-bg: #725AC1;

@import "~bootstrap/scss/bootstrap";

textarea {
    resize: vertical;
    max-height: 800px;
}

br {
    display: block;
    margin-bottom: 0em;
}

.error {
    border-color: red !important;
}

.typeColor {
    color: rgb(100, 192, 223) !important;
}

.typeValueColor {
    color: darkmagenta !important;
}

.constraintColor {
    color: orange !important;
}

.highlightColor {
    color: green !important;
}

.checkbox-xl .form-check-input {
    scale: 2;
}

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}

li {
    display: flex;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}

.tree li:before {
    position: absolute;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code,
.tree .table {
    display: inline-flex;
    position: relative;
}

.tree ul:before,
.tree code:before,
.tree .table:before {
    height: .5em;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -.5em;
}

.tree code:before,
.tree .table:before {
    top: -.55em;
}

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>.table:before {
    outline: none;
}

.box {
    position: relative !important;
}

#highlights {
    white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

#backdrop {
    overflow: auto;
    height: 600px;
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    background-color: transparent !important;
}

textarea {
    margin: 0;
    border-radius: 0;
    background-color: transparent !important;
    display: block;
    position: absolute;
    z-index: 2;
    resize: none;
    height: 600px;
}

error {
    background-color: red;
    color: transparent;
}